In [3]:
################################################################
############# Statistical Programming with R ###################
################################################################


#Session 3
###################################################
#### Merge data across data bases #################
###################################################
#Set working directory and Import these files
#Different files of Reliance Industries
close_price <- read.csv(file="../Data/RELIANCE_close price.csv")
number_trades <- read.csv(file="../Data/RELIANCE_number of trades.csv")
trade_quantity <- read.csv(file="../Data/RELIANCE_trade quantity.csv")

In [4]:
#Make a single file "x" that contains closing price and trade quantity
#we can use merge command
x=merge(close_price, trade_quantity, by.x = "Date", by.y = "Date")

In [5]:
x

    Date     Close  Trdqty
1   20120102 706.55 4299217
2   20120103 724.65 4683491
3   20120104 716.15 4238367
4   20120105 699.50 6619586
5   20120106 717.55 4703147
6   20120107 714.75  460231
7   20120109 706.25 4202878
8   20120110 736.20 4507724
9   20120111 748.25 4842143
10  20120112 736.90 3251624
11  20120113 731.80 4692930
12  20120116 712.95 4067488
13  20120117 742.05 5197636
14  20120118 779.75 9248756
15  20120119 785.65 5483508
16  20120120 792.65 7251864
17  20120123 771.55 6457585
18  20120124 783.75 5095499
19  20120125 790.95 3837205
20  20120127 820.40 5565491
21  20120130 794.75 4829091
22  20120131 817.10 6264462
23  20120201 831.20 3776806
24  20120202 829.25 4901979
25  20120203 838.30 4569209
26  20120206 833.00 3984412
27  20120207 844.55 4815977
28  20120208 858.40 3647626
29  20120209 853.85 4309191
30  20120210 843.25 3417975
⋮   ⋮        ⋮      ⋮
716 20141119 978.15 1851368
717 20141120 980.75 2592595
718 20141121 997.70 2683538
719 20141124 985.35 2840424
720 20141125 993.00 3338732
721 20141126 987.05 3007076
722 20141127 988.65 2806993
723 20141128 991.60 4773085
724 20141201 961.60 3973275
725 20141202 962.65 2160807
726 20141203 968.35 2237796
727 20141204 958.55 2463051
728 20141205 957.35 2296865
729 20141208 944.60 2340414
730 20141209 939.85 2422696
731 20141210 932.55 3027071
732 20141211 906.15 5170702
733 20141212 882.35 4085890
734 20141215 878.80 2891112
735 20141216 864.60 4774252
736 20141217 869.50 4749947
737 20141218 880.10 3422050
738 20141219 900.55 4588473
739 20141222 904.90 1898416
740 20141223 893.75 2419143
741 20141224 884.15 5138493
742 20141226 888.85 1117804
743 20141229 897.00 1584461
744 20141230 880.15 2657831
745 20141231 891.15 1934955

In [6]:
#or 
x=merge(close_price, trade_quantity, by = "Date")#Column names are same in both dataframe
str(x)
x2=cbind(close_price, trade_quantity)
#Here explain all.x, all.y, FALSE(by default)

#Now merge x to number_trades
x1=merge(x, number_trades, by = "Date")
#Desired output is ready.

##Now make new databases to understand better
close_price1=close_price[1:10,]#First 10 rows only
number_trades1=number_trades[6:15,]

#Now merge close_price1 and number_trades1
x2=merge(close_price1, number_trades1, by = "Date")#Column names are same in both dataframe
########################
########################

##Case 3: Authors and Books (from R itself)
#Clean the slate
authors <- data.frame(
  surname = c("Tukey", "Venables", "Tierney", "Ripley", "McNeil"),
  nationality = c("US", "Australia", "US", "UK", "Australia"),
  deceased = c("yes", rep("no", 4)))

books <- data.frame(
  name = c("Venables","Tukey",  "Tierney",
           "Ripley", "McNeil", "Joseph"),
  title = c("Exploratory Data Analysis",
            "Modern Applied Statistics",
            "LISP-STAT",
            "Spatial Statistics", 
            "Interactive Data Analysis",
            "An Introduction to R"))



m2 <- merge(authors, books, by.x = "surname", by.y = "name")##Exactly vlookup from different dataframes
m21 <- merge(books, authors, by.x = "name", by.y = "surname")##Reverse order
m3=merge(authors, books, by.x = "surname", by.y = "name", all = TRUE)##non-matching cases will be added as well for both
m4=merge(authors, books, by.x = "surname", by.y = "name", all.x = TRUE)##non-matching cases will be added as well for df1 only
m5=merge(authors, books, by.x = "surname", by.y = "name", all.y = TRUE)##non-matching cases will be added as well for df2 only


## example of using 'incomparables'
x <- data.frame(k1 = c(NA,NA,3,4,5), k2 = c(1,NA,NA,4,5), data = 1:5)
y <- data.frame(k1 = c(NA,2,NA,4,5), k2 = c(NA,NA,3,4,5), data = 1:5)
m1=merge(x, y, by = c("k1","k2")) # merging with two columns, and NA's match
#by = c("k1","k2") means when k1 and k2 are identical in both databases

m2=merge(x, y, by = "k1") # NA's match, so 6 rows
m21=merge(x, y, by = "k1",incomparables = NA) # NA's match, so 6 rows
m3=merge(x, y, by = "k2", incomparables = NA) # 2 rows
#########################
#########################


##### match function

#Now we would move to match function
#Match function is helpful to match/merge a certain column, not the entire database
##Match Function
##Matching dates in spot and futures prices
##As simple as index and match function or Vlookup in Excel

#First, Import required files (spot and futures prices)
Crude_spot <- read.csv(file.choose())
Crude_Futures <- read.csv(file.choose())

#Match gives relative position of the date
match(Crude_spot$Date,Crude_Futures$Date)#Ensure Dates are in same format in both files
match(Crude_spot$Date,Crude_Futures$Date)[1:5]#See, first five entries only

#Extract by square brackets
Crude_Futures$Futures.Price[match(Crude_spot$Date,Crude_Futures$Date )]

#Creating new variable
Crude_spot$futures=Crude_Futures$Futures.Price[match(Crude_spot$Date,Crude_Futures$Date )] 

#Get rid of NAs by function complete case
Crude_spot_final= Crude_spot[complete.cases(Crude_spot),]
#or
Crude_spot_final= na.omit(Crude_spot)
##For any data

#Now you do the same thng for volume variable in futures market
############################################
############################################


##  Subsetting of data in R
#Import Bhavcopy of all SSFs
Bhavcopy_all_SSF <- read.csv(file.choose())#Import Bhavcopy_wholedata_FUTSTK

#Task 1: Make a file/data frame for ACC company only
ACC=subset(Bhavcopy_all_SSF, Bhavcopy_all_SSF[,2]=="ACC")#Subset for ACC only

#Task 2: Make a file/data frame for the date 20120102 only
df_20120102=subset(Bhavcopy_all_SSF, Bhavcopy_all_SSF[,1]==20120102)

#Similarly for expiry date and other variables
######################################################

#Now subset for greater than or less than situations
#ACC dataframe inclused data for ACC for 741 days

#make a dataframe of days
#when Trdqty is less than average Trdqty
ACC_below_average=subset(ACC,ACC$Trdqty<mean(ACC$Trdqty))

#Make a dataframe when Trdqty is greater than average Trdqty
ACC_above_average=subset(ACC,ACC$Trdqty>mean(ACC$Trdqty))
#You can also select specific columns in output
ACC_above_average=subset(ACC,ACC$Trdqty>mean(ACC$Trdqty), select = c(1,10:12))
#Or by column names directly
ACC_above_average=subset(ACC,Trdqty>mean(Trdqty))


#Similarly practice for other variables
####################################################

#Now subset with and and or arguments
#Subset ACC when Trdqty is less than average Trdqty and
#Number_trades is also less than average
ACC_below_average=subset(ACC,ACC$Trdqty<mean(ACC$Trdqty) &
                           ACC$Number_trades<mean(ACC$Number_trades))
#Use & for and argument
#Use | for or argument
ACC_below_average=subset(ACC,ACC$Trdqty<mean(ACC$Trdqty) |
                           ACC$Number_trades<mean(ACC$Number_trades))
#Similarly we can subset for any number of variables at a time

##################################################
#Sort, rank functions
#For a vector
x=as.numeric(Bhavcopy_all_SSF[1:10, 13])
class(x)
sort(x)#By deafault ascending

'data.frame':	745 obs. of  3 variables:
 $ Date  : int  20120102 20120103 20120104 20120105 20120106 20120107 20120109 20120110 20120111 20120112 ...
 $ Close : num  707 725 716 700 718 ...
 $ Trdqty: int  4299217 4683491 4238367 6619586 4703147 460231 4202878 4507724 4842143 3251624 ...

ERROR: Error in file.choose(): file choice cancelled

In [ ]:
?sort

In [ ]:
sort(x, decreasing = T)#Descending order
#Or
rev(sort(x))#Reverse order

#Rank gives rank or position
rank(x)
y=rank(x) #Rank in ascending order
z=data.frame(x,y)
########################
y1=rank(-x)#Rank in descending order
z=data.frame(x,y,y1)
#########################

#Make a new dataframe
y=Bhavcopy_all_SSF[1:5, c(2,11:13)]
?sort
#the result of sort() is a sorted vector consisting of elements 
#of the original (unsorted) vector
?order
#order() gives a vector with the ordered indices of the original (unsorted) vector
#It first sorts the vector by values and than gives their position number in unsorted vector
#Sort based on company name (alphabetically)

y[order(y$Symbol,decreasing = T),]

#Sort based on Trdqty
y[order(y$Trdqty,decreasing = T),]


#One more example (Source: https://stackoverflow.com/questions/12289224/rank-and-order-in-r)
set.seed(1)
x <- sample(1:50, 5) 
x
sort(x)
rank(x)
order(x)
x[order(x)]#Like sort()

#Similarly for others
################################################
#In the next session we will learn about dplyr package
##################################################
##################################################